.font {
    font-family: 'PT Serif', serif;
}

body{ 
    width: 1100px;
    margin:auto;
}

header {
   font-family: 'Lobster', cursive;
    background-color: #790c0c7a;
}
header h1{
    margin:5px;
}

aside {
    padding-right: 20px;
    display: inline-block;
    vertical-align: top;
    width: 280px;
    box-sizing: border-box;
}

li {
    border: 1px solid grey;
    line-height: 35px;
    list-style-type: square;
    margin-top: 5px;
    padding-left: 3px;
    border-radius: 3px;
}

a {
    text-decoration: none;
    color: black;
}

section {
    border-left: 2px solid  #790c0c7a;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    width: 820px;
    box-sizing: border-box;
}

img {
    border: 1px solid grey;
    float: left;
    margin: 20px 10px 0 20px;
}

.lista {
    background-color: #92484836;
    border-top: 2px solid  #790c0c7a;
}

.text {
    text-align: justify;
    padding: 0 20px;
}

footer {
    font-size: 14px;
    border-top: 2px solid  #790c0c7a;
    text-align: center;
}